name: Docker

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # midnight UTC every day
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master

permissions: {}

jobs:
  build:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runs-on: ubuntu-latest
          - arch: arm64
            runs-on: ubuntu-24.04-arm
    steps:
      - run: lscpu
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.33.1
        with:
          cache-binary: false
          version: latest
      - name: Build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/${{ matrix.arch }}
          push: false
          build-args: >-
            ${{ github.event_name == 'schedule' && 'VERSION=main' ||
                startsWith(github.ref, 'refs/tags/') && format('VERSION={0}', github.ref_name) || '' }}
          no-cache: ${{ github.event_name == 'schedule' }}
          cache-from: |
            type=gha,scope=docker-build-${{ matrix.arch }}${{ github.event_name == 'schedule' && '-scheduled' || '' }}
          cache-to: |
            type=gha,mode=max,scope=docker-build-${{ matrix.arch }}${{ github.event_name == 'schedule' && '-scheduled' || '' }}
          context: .

  package:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - run: lscpu
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.33.1
        with:
          cache-binary: false
          version: latest
      - uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        id: meta
        with:
          images: ghcr.io/${{ github.repository_owner }}/arti
          tags: |
            # For scheduled nightly builds
            type=raw,value=nightly,enable=${{ github.event_name == 'schedule' }}
            type=raw,value={{date 'YYYYMMDD'}},enable=${{ github.event_name == 'schedule' }}
            # For non-tag events
            type=ref,event=branch,enable=${{ github.event_name != 'schedule' }}
            type=ref,event=pr
            # For tag events, generate versions
            type=match,pattern=arti-v(\d+\.\d+\.\d+),group=1
            type=match,pattern=arti-v(\d+\.\d+),group=1
            type=match,pattern=arti-v(\d+),group=1
      - name: Package and Push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: >-
            ${{ github.event_name == 'schedule' && 'VERSION=main' ||
                startsWith(github.ref, 'refs/tags/') && format('VERSION={0}', github.ref_name) || '' }}
          push: true
          cache-from: |
            type=gha,scope=docker-build-amd64${{ github.event_name == 'schedule' && '-scheduled' || '' }}
            type=gha,scope=docker-build-arm64${{ github.event_name == 'schedule' && '-scheduled' || '' }}
          context: .
